a.badge:hover {
  color: $white;
}
.bg-success{
  color: #28c76f!important;
  background-color: rgba(40,199,111,.12)!important;
}
.bg-danger{
  color: #ff9f43!important;
  background-color: rgba(255,159,67,.12)!important;
}
